In [175]:
import requests
import sys

from io import StringIO
import numpy as np
import pandas as pd
from datetime import datetime
import dateutil.parser

In [2]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'US Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',

}

In [3]:
CSBSrawDataIO = StringIO(requests.get("https://facts.csbs.org/covid-19/covid19_county.csv").text)

In [4]:


CSBSdf = pd.read_csv(CSBSrawDataIO, sep=",")
CSBSdf=CSBSdf.rename(columns={"State Name": "Province/State"})

In [5]:
tstr=CSBSdf["Last Update"][0]
print(tstr)

tstr=datetime.strptime(tstr[:-10], '%Y-%m-%d').strftime("%-m/%d/%y")
print(tstr)

2020-03-25 22:25 EDT
3/25/20

In [6]:
# CSBSdf

In [7]:
CSBSStates=CSBSdf.groupby(["Province/State"]).sum().reset_index()
CSBSStates["Country/Region"]="US"
CSBSStatesCases=CSBSStates.drop(columns=["New Death","New","Death","Latitude","Longitude"])
CSBSStatesCases=CSBSStatesCases.rename(columns={"Confirmed": tstr})

CSBSStatesDeaths=CSBSStates.drop(columns=["New Death","New","Confirmed","Latitude","Longitude"])
CSBSStatesDeaths=CSBSStatesCases.rename(columns={"Death": tstr})

In [8]:
CSBSStatesCases

          Province/State  3/25/20 Country/Region
0                Alabama      386             US
1                 Alaska       43             US
2                Arizona      401             US
3               Arkansas      308             US
4             California     3150             US
5               Colorado     1087             US
6            Connecticut      875             US
7               Delaware      119             US
8   District of Columbia      231             US
9                Florida     1977             US
10               Georgia     1404             US
11                  Guam       37             US
12                Hawaii       95             US
13                 Idaho      138             US
14              Illinois     1869             US
15               Indiana      478             US
16                  Iowa      146             US
17                Kansas      137             US
18              Kentucky      198             US
19             Louisiana     1795             US
20                 Maine      142             US
21              Maryland      426             US
22         Massachusetts     1838             US
23              Michigan     2298             US
24             Minnesota      287             US
25           Mississippi      377             US
26              Missouri      358             US
27               Montana       65             US
28              Nebraska       71             US
29                Nevada      323             US
30         New Hampshire      137             US
31            New Jersey     4402             US
32            New Mexico      113             US
33              New York    33006             US
34        North Carolina      621             US
35          North Dakota       45             US
36                  Ohio      704             US
37              Oklahoma      164             US
38                Oregon      266             US
39          Pennsylvania     1284             US
40           Puerto Rico       51             US
41          Rhode Island      132             US
42        South Carolina      424             US
43          South Dakota       41             US
44             Tennessee      917             US
45                 Texas     1337             US
46     US Virgin Islands       17             US
47                  Utah      346             US
48               Vermont      125             US
49              Virginia      399             US
50            Washington     2600             US
51         West Virginia       39             US
52             Wisconsin      635             US
53               Wyoming       44             US

In [9]:
CSBSCountydf=CSBSdf.replace({"Province/State":us_state_abbrev})
CSBSCountydf["Province/State"]=CSBSCountydf["County Name"]+", "+CSBSCountydf["Province/State"]
CSBSCountydf = CSBSCountydf[~CSBSCountydf['County Name'].isin(['Unassigned'])]
CSBSCountydf["Country/Region"]="US"

In [10]:

CSBSCountyCases = CSBSCountydf.drop(columns=["New Death","New","Death","Latitude","Longitude","County Name","Fatality Rate","Last Update"])
CSBSCountyCases = CSBSCountyCases.rename(columns={"Confirmed": tstr})

CSBSCountyDeaths = CSBSCountydf.drop(columns=["New Death","New","Confirmed","Latitude","Longitude","County Name","Fatality Rate","Last Update"])
CSBSCountyDeaths = CSBSCountyDeaths.rename(columns={"Death": tstr})

In [11]:
CSBSCountyDeaths

       Province/State  3/25/20 Country/Region
0        New York, NY      280             US
1     Westchester, NY        1             US
2          Nassau, NY       17             US
3         Suffolk, NY       20             US
4        Rockland, NY        5             US
5          Orange, NY        1             US
6        Dutchess, NY        1             US
7          Albany, NY        0             US
8            Erie, NY        1             US
9          Monroe, NY        3             US
10         Putnam, NY        0             US
11       Onondaga, NY        1             US
12         Ulster, NY        0             US
13       Saratoga, NY        0             US
14    Schenectady, NY        1             US
15       Sullivan, NY        0             US
16     Rensselaer, NY        0             US
17       Tompkins, NY        0             US
18       Columbia, NY        0             US
19        Niagara, NY        0             US
20         Broome, NY        2             US
21         Oneida, NY        0             US
22        Clinton, NY        0             US
23        Ontario, NY        0             US
24        Steuben, NY        0             US
25          Wayne, NY        0             US
26        Madison, NY        1             US
27       Delaware, NY        0             US
28       Herkimer, NY        0             US
29         Greene, NY        0             US
...               ...      ...            ...
1503       McCook, SD        0             US
1504        Brown, SD        0             US
1505   Pennington, SD        1             US
1506  Charles Mix, SD        0             US
1507    Bon Homme, SD        0             US
1508    Codington, SD        0             US
1509       Hughes, SD        0             US
1510        Lyman, SD        0             US
1511    Brookings, SD        0             US
1512      Lincoln, SD        0             US
1513        Meade, SD        0             US
1514   Monongalia, WV        0             US
1515      Kanawha, WV        0             US
1516    Jefferson, WV        0             US
1517     Harrison, WV        0             US
1518       Mercer, WV        0             US
1519       Tucker, WV        0             US
1520      Jackson, WV        0             US
1521     Marshall, WV        0             US
1522     Berkeley, WV        0             US
1523       Putnam, WV        0             US
1524         Wood, WV        0             US
1525      Preston, WV        0             US
1526         Guam, GU        1             US
1536      Unknown, VA        4             US
1542      Unknown, KS        0             US
1548        Ferry, WA        0             US
1549     Okanogan, WA        0             US
1550         Ware, GA        0             US
1551         Long, GA        0             US

[1533 rows x 3 columns]

In [12]:
legacyJHUCases=StringIO(requests.get("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/archived_data/archived_time_series/time_series_19-covid-Confirmed_archived_0325.csv").text)

legacyJHUCasesdf = pd.read_csv(legacyJHUCases, sep=",")

In [13]:
legacyJHUCasesdf

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,82,114,147,177,212,272,322,411,599,599.0
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,773,839,825,878,889,924,963,1007,1086,1086.0
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,212,226,243,266,313,345,385,432,455,455.0
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,2,2.0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,238,428,566,673,790,900,1030,1183,1306,1306.0
5,British Columbia,Canada,49.2827,-123.1207,0,0,0,0,0,0,...,64,73,103,103,186,231,271,424,424,424.0
6,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,112,134,171,210,267,307,353,436,533,533.0
7,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,49,57,71,94,121,121,121,229,296,296.0
8,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,46,61,68,78,94,144,184,221,221,221.0
9,NaN,Cambodia,11.5500,104.9167,0,0,0,0,0,1,...,7,7,7,33,35,37,51,53,84,84.0
10,NaN,Sri Lanka,7.0000,81.0000,0,0,0,0,0,1,...,10,18,28,44,51,60,73,77,82,82.0
11,NaN,Germany,51.0000,9.0000,0,0,0,0,0,1,...,4585,5795,7272,9257,12327,15320,19848,22213,24873,24873.0
12,NaN,Finland,64.0000,26.0000,0,0,0,0,0,0,...,225,244,277,321,336,400,450,523,626,626.0
13,NaN,United Arab Emirates,24.0000,54.0000,0,0,0,0,0,0,...,85,98,98,98,113,140,140,153,153,153.0
14,NaN,Philippines,13.0000,122.0000,0,0,0,0,0,0,...,111,140,142,187,202,217,230,307,380,380.0
15,NaN,India,21.0000,78.0000,0,0,0,0,0,0,...,102,113,119,142,156,194,244,330,396,396.0
16,NaN,Italy,43.0000,12.0000,0,0,0,0,0,0,...,21157,24747,27980,31506,35713,41035,47021,53578,59138,59138.0
17,NaN,Sweden,63.0000,16.0000,0,0,0,0,0,0,...,961,1022,1103,1190,1279,1439,1639,1763,1934,1934.0
18,NaN,Spain,40.0000,-4.0000,0,0,0,0,0,0,...,6391,7798,9942,11748,13910,17963,20410,25374,28768,28768.0
19,South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,0,...,19,20,29,29,37,42,50,67,100,100.0
20,NaN,Belgium,50.8333,4.0000,0,0,0,0,0,0,...,689,886,1058,1243,1486,1795,2257,2815,3401,3401.0
21,NaN,Egypt,26.0000,30.0000,0,0,0,0,0,0,...,109,110,150,196,196,256,285,294,327,327.0
22,From Diamond Princess,Australia,35.4437,139.6380,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
23,NaN,Lebanon,33.8547,35.8623,0,0,0,0,0,0,...,93,110,99,120,133,157,163,187,248,248.0
24,NaN,Iraq,33.0000,44.0000,0,0,0,0,0,0,...,110,116,124,154,164,192,208,214,233,233.0
25,NaN,Oman,21.0000,57.0000,0,0,0,0,0,0,...,19,22,22,24,39,48,48,52,55,55.0
26,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,11,16,21,22,22,22,24,24,40,40.0
27,NaN,Bahrain,26.0275,50.5500,0,0,0,0,0,0,...,210,214,214,228,256,278,285,305,332,332.0
28,NaN,Kuwait,29.5000,47.7500,0,0,0,0,0,0,...,104,112,123,130,142,148,159,176,188,188.0
29,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,37,48,54,60,74,87,90,139,201,201.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471,NaN,Cabo Verde,16.5388,-23.0418,0,0,0,0,0,0,...,0,0,0,0,0,0,1,3,3,3.0
472,Sint Maarten,Netherlands,18.0425,-63.0548,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1.0
473,NaN,Niger,17.6078,8.0817,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,2,2.0
474,NaN,Papua New Guinea,-6.3150,143.9555,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1.0
475,Isle of Man,United Kingdom,54.2361,-4.5481,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,5,5.0
476,NaN,Zimbabwe,-20.0000,30.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,1,3,3,3.0
477,Northwest Territories,Canada,64.8255,-124.8457,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1.0
478,NaN,Cape Verde,15.1111,-23.6167,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0.0
479,NaN,East Timor,-8.5500,125.5600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0.0
480,NaN,Eritrea,15.1794,39.7823,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1.0
481,NaN,Uganda,1.0000,32.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1.0
482,NaN,Dominica,15.4150,-61.3710,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.0
483,NaN,Grenada,12.1165,-61.6790,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.0
484,NaN,Mozambique,-18.6657,35.5296,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.0
485,NaN,Syria,34.8021,38.9968,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.0
486,NaN,Timor-Leste,-8.8742,125.7275,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.0
487,NaN,Guadeloupe,16.2650,-61.5510,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,56.0
488,NaN,Reunion,-21.1151,55.5364,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,47.0
489,NaN,French Guiana,3.9339,-53.1258,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,18.0
490,NaN,Mayotte,-12.8275,45.1662,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11.0
491,United States Virgin Islands,US,18.3358,-64.8963,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6.0
492,US,US,37.0902,-95.7129,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
493,NaN,Greenland,72.0000,-40.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
494,NaN,Guam,13.4443,144.7937,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
495,NaN,Guernsey,49.4500,-2.5800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
496,NaN,Jersey,49.1900,-2.1100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
497,NaN,Puerto Rico,18.2000,-66.5000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
498,NaN,Republic of the Congo,-1.4400,15.5560,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
499,NaN,The Bahamas,24.2500,-76.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
500,NaN,The Gambia,13.4667,-16.6000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [14]:
newJHUCases=StringIO(requests.get("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv").text)

newJHUCasesdf = pd.read_csv(newJHUCases, sep=",")

In [15]:
newJHUCasesdf

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,21,22,22,22,24,24,40,40,74,84
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,51,55,59,64,70,76,89,104,123,146
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,54,60,74,87,90,139,201,230,264,302
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,2,39,39,53,75,88,113,133,164,188
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,1,2,2,3,3,3
5,NaN,Antigua and Barbuda,17.060800,-61.796400,0,0,0,0,0,0,...,1,1,1,1,1,1,1,3,3,3
6,NaN,Argentina,-38.416100,-63.616700,0,0,0,0,0,0,...,56,68,79,97,128,158,266,301,387,387
7,NaN,Armenia,40.069100,45.038200,0,0,0,0,0,0,...,52,78,84,115,136,160,194,235,249,265
8,Australian Capital Territory,Australia,-35.473500,149.012400,0,0,0,0,0,0,...,2,2,3,4,6,9,19,32,39,39
9,New South Wales,Australia,-33.868800,151.209300,0,0,0,0,3,4,...,171,210,267,307,353,436,669,669,818,1029
10,Northern Territory,Australia,-12.463400,130.845600,0,0,0,0,0,0,...,1,1,1,1,3,3,5,5,6,6
11,Queensland,Australia,-28.016700,153.400000,0,0,0,0,0,0,...,68,78,94,144,184,221,259,319,397,443
12,South Australia,Australia,-34.928500,138.600700,0,0,0,0,0,0,...,29,29,37,42,50,67,100,134,170,170
13,Tasmania,Australia,-41.454500,145.970700,0,0,0,0,0,0,...,7,7,10,10,10,16,22,28,28,36
14,Victoria,Australia,-37.813600,144.963100,0,0,0,0,1,1,...,71,94,121,121,121,229,355,355,411,466
15,Western Australia,Australia,-31.950500,115.860500,0,0,0,0,0,0,...,28,31,35,52,64,90,120,140,175,175
16,NaN,Austria,47.516200,14.550100,0,0,0,0,0,0,...,1018,1332,1646,2013,2388,2814,3582,4474,5283,5588
17,NaN,Azerbaijan,40.143100,47.576900,0,0,0,0,0,0,...,28,28,28,44,44,53,65,72,87,93
18,NaN,Bahamas,25.034300,-77.396300,0,0,0,0,0,0,...,1,1,1,3,3,4,4,4,5,5
19,NaN,Bahrain,26.027500,50.550000,0,0,0,0,0,0,...,214,228,256,278,285,305,334,377,392,419
20,NaN,Bangladesh,23.685000,90.356300,0,0,0,0,0,0,...,8,10,14,17,20,25,27,33,39,39
21,NaN,Barbados,13.193900,-59.543200,0,0,0,0,0,0,...,0,2,2,5,5,6,14,17,18,18
22,NaN,Belarus,53.709800,27.953400,0,0,0,0,0,0,...,36,36,51,51,69,76,76,81,81,86
23,NaN,Belgium,50.833300,4.000000,0,0,0,0,0,0,...,1058,1243,1486,1795,2257,2815,3401,3743,4269,4937
24,NaN,Benin,9.307700,2.315800,0,0,0,0,0,0,...,1,1,2,2,2,2,2,5,6,6
25,NaN,Bhutan,27.514200,90.433600,0,0,0,0,0,0,...,1,1,1,1,2,2,2,2,2,2
26,NaN,Bolivia,-16.290200,-63.588700,0,0,0,0,0,0,...,11,11,12,12,15,19,24,27,29,32
27,NaN,Bosnia and Herzegovina,43.915900,17.679100,0,0,0,0,0,0,...,25,26,38,63,89,93,126,136,166,176
28,NaN,Brazil,-14.235000,-51.925300,0,0,0,0,0,0,...,200,321,372,621,793,1021,1546,1924,2247,2554
29,NaN,Brunei,4.535300,114.727700,0,0,0,0,0,0,...,54,56,68,75,78,83,88,91,104,109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,NaN,Ukraine,48.379400,31.165600,0,0,0,0,0,0,...,7,14,14,16,29,47,73,73,97,145
216,NaN,United Arab Emirates,24.000000,54.000000,0,0,0,0,0,0,...,98,98,113,140,140,153,153,198,248,333
217,Bermuda,United Kingdom,32.307800,-64.750500,0,0,0,0,0,0,...,0,0,0,2,2,2,6,6,6,7
218,Cayman Islands,United Kingdom,19.313300,-81.254600,0,0,0,0,0,0,...,1,1,1,3,3,3,3,5,6,8
219,Channel Islands,United Kingdom,49.372300,-2.364400,0,0,0,0,0,0,...,6,6,6,11,14,32,32,36,36,46
220,Gibraltar,United Kingdom,36.140800,-5.353600,0,0,0,0,0,0,...,1,3,8,10,10,10,15,15,15,26
221,Isle of Man,United Kingdom,54.236100,-4.548100,0,0,0,0,0,0,...,0,0,0,0,1,1,5,13,23,23
222,Montserrat,United Kingdom,16.742500,-62.187400,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,1
223,NaN,United Kingdom,55.378100,-3.436000,0,0,0,0,0,0,...,1543,1950,2626,2689,3983,5018,5683,6650,8077,9529
224,NaN,Uruguay,-32.522800,-55.765800,0,0,0,0,0,0,...,8,29,50,79,94,110,158,162,162,189
225,NaN,US,37.090200,-95.712900,1,1,2,2,5,5,...,4632,6421,7783,13677,19100,25489,33276,43847,53740,65778
226,NaN,Uzbekistan,41.377500,64.585300,0,0,0,0,0,0,...,6,10,15,23,33,43,43,46,50,60
227,NaN,Venezuela,6.423800,-66.589700,0,0,0,0,0,0,...,17,33,36,42,42,70,70,77,84,91
228,NaN,Vietnam,16.000000,108.000000,0,2,2,2,2,2,...,61,66,75,85,91,94,113,123,134,141
229,NaN,Zambia,-15.416700,28.283300,0,0,0,0,0,0,...,0,0,2,2,2,2,3,3,3,12
230,NaN,Zimbabwe,-20.000000,30.000000,0,0,0,0,0,0,...,0,0,0,0,1,3,3,3,3,3
231,Diamond Princess,Canada,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
232,NaN,Dominica,15.415000,-61.371000,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2,2,7
233,NaN,Grenada,12.116500,-61.679000,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
234,NaN,Mozambique,-18.665695,35.529562,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,3,5
235,NaN,Syria,34.802075,38.996815,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,5
236,NaN,Timor-Leste,-8.874217,125.727539,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
237,NaN,Belize,13.193900,-59.543200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
238,Recovered,Canada,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
239,NaN,Laos,19.856270,102.495496,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,3
240,NaN,Libya,26.335100,17.228331,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
241,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,38,39,41,44,47,48,52,59,59,-1
242,NaN,Guinea-Bissau,11.803700,-15.180400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
243,NaN,Mali,17.570692,-3.996166,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
244,NaN,Saint Kitts and Nevis,17.357822,-62.782998,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [20]:

JHUCasesdf=pd.merge(newJHUCasesdf,legacyJHUCasesdf,how="outer").drop(columns=["Lat","Long"])
JHUCasesdf
# mergedJHUDF

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20
0,NaN,Afghanistan,0,0,0,0,0,0,0,0,...,21,22,22,22,24,24,40,40.0,74.0,84.0
1,NaN,Albania,0,0,0,0,0,0,0,0,...,51,55,59,64,70,76,89,104.0,123.0,146.0
2,NaN,Algeria,0,0,0,0,0,0,0,0,...,54,60,74,87,90,139,201,230.0,264.0,302.0
3,NaN,Andorra,0,0,0,0,0,0,0,0,...,2,39,39,53,75,88,113,133.0,164.0,188.0
4,NaN,Angola,0,0,0,0,0,0,0,0,...,0,0,0,0,1,2,2,3.0,3.0,3.0
5,NaN,Antigua and Barbuda,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,3.0,3.0,3.0
6,NaN,Argentina,0,0,0,0,0,0,0,0,...,56,68,79,97,128,158,266,301.0,387.0,387.0
7,NaN,Armenia,0,0,0,0,0,0,0,0,...,52,78,84,115,136,160,194,235.0,249.0,265.0
8,Australian Capital Territory,Australia,0,0,0,0,0,0,0,0,...,2,2,3,4,6,9,19,32.0,39.0,39.0
9,New South Wales,Australia,0,0,0,0,3,4,4,4,...,171,210,267,307,353,436,669,669.0,818.0,1029.0
10,Northern Territory,Australia,0,0,0,0,0,0,0,0,...,1,1,1,1,3,3,5,5.0,6.0,6.0
11,Queensland,Australia,0,0,0,0,0,0,0,1,...,68,78,94,144,184,221,259,319.0,397.0,443.0
12,South Australia,Australia,0,0,0,0,0,0,0,0,...,29,29,37,42,50,67,100,134.0,170.0,170.0
13,Tasmania,Australia,0,0,0,0,0,0,0,0,...,7,7,10,10,10,16,22,28.0,28.0,36.0
14,Victoria,Australia,0,0,0,0,1,1,1,1,...,71,94,121,121,121,229,355,355.0,411.0,466.0
15,Western Australia,Australia,0,0,0,0,0,0,0,0,...,28,31,35,52,64,90,120,140.0,175.0,175.0
16,NaN,Austria,0,0,0,0,0,0,0,0,...,1018,1332,1646,2013,2388,2814,3582,4474.0,5283.0,5588.0
17,NaN,Azerbaijan,0,0,0,0,0,0,0,0,...,28,28,28,44,44,53,65,72.0,87.0,93.0
18,NaN,Bahamas,0,0,0,0,0,0,0,0,...,1,1,1,3,3,4,4,4.0,5.0,5.0
19,NaN,Bahrain,0,0,0,0,0,0,0,0,...,214,228,256,278,285,305,334,377.0,392.0,419.0
20,NaN,Bangladesh,0,0,0,0,0,0,0,0,...,8,10,14,17,20,25,27,33.0,39.0,39.0
21,NaN,Barbados,0,0,0,0,0,0,0,0,...,0,2,2,5,5,6,14,17.0,18.0,18.0
22,NaN,Belarus,0,0,0,0,0,0,0,0,...,36,36,51,51,69,76,76,81.0,81.0,86.0
23,NaN,Belgium,0,0,0,0,0,0,0,0,...,1058,1243,1486,1795,2257,2815,3401,3743.0,4269.0,4937.0
24,NaN,Benin,0,0,0,0,0,0,0,0,...,1,1,2,2,2,2,2,5.0,6.0,6.0
25,NaN,Bhutan,0,0,0,0,0,0,0,0,...,1,1,1,1,2,2,2,2.0,2.0,2.0
26,NaN,Bolivia,0,0,0,0,0,0,0,0,...,11,11,12,12,15,19,24,27.0,29.0,32.0
27,NaN,Bosnia and Herzegovina,0,0,0,0,0,0,0,0,...,25,26,38,63,89,93,126,136.0,166.0,176.0
28,NaN,Brazil,0,0,0,0,0,0,0,0,...,200,321,372,621,793,1021,1546,1924.0,2247.0,2554.0
29,NaN,Brunei,0,0,0,0,0,0,0,0,...,54,56,68,75,78,83,88,91.0,104.0,109.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,Bermuda,United Kingdom,0,0,0,0,0,0,0,0,...,0,0,0,2,2,2,2,2.0,NaN,NaN
661,NaN,Fiji,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,2,2.0,NaN,NaN
662,NaN,Madagascar,0,0,0,0,0,0,0,0,...,0,0,0,0,3,3,3,3.0,NaN,NaN
663,NaN,Haiti,0,0,0,0,0,0,0,0,...,0,0,0,0,2,2,2,2.0,NaN,NaN
664,NaN,Angola,0,0,0,0,0,0,0,0,...,0,0,0,0,1,2,2,2.0,NaN,NaN
665,Sint Maarten,Netherlands,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1.0,NaN,NaN
666,NaN,Niger,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,2,2.0,NaN,NaN
667,Isle of Man,United Kingdom,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,5,5.0,NaN,NaN
668,Northwest Territories,Canada,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1.0,NaN,NaN
669,NaN,Cape Verde,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0.0,NaN,NaN
670,NaN,East Timor,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0.0,NaN,NaN
671,NaN,Uganda,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1.0,NaN,NaN
672,NaN,Dominica,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1.0,NaN,NaN
673,NaN,Mozambique,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1.0,NaN,NaN
674,NaN,Syria,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1.0,NaN,NaN
675,NaN,Timor-Leste,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1.0,NaN,NaN
676,NaN,Guadeloupe,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,56.0,NaN,NaN
677,NaN,Reunion,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,47.0,NaN,NaN
678,NaN,French Guiana,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,18.0,NaN,NaN
679,NaN,Mayotte,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,11.0,NaN,NaN
680,United States Virgin Islands,US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,6.0,NaN,NaN
681,US,US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.0,NaN,NaN
682,NaN,Greenland,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,NaN,NaN
683,NaN,Guam,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,NaN,NaN
684,NaN,Guernsey,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,NaN,NaN
685,NaN,Jersey,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,NaN,NaN
686,NaN,Puerto Rico,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,NaN,NaN
687,NaN,Republic of the Congo,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,NaN,NaN
688,NaN,The Bahamas,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,NaN,NaN
689,NaN,The Gambia,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,NaN,NaN

In [21]:
mergedDF=pd.merge(CSBSStatesCases,JHUCasesdf,how='outer')

mergedDF

,Province/State,3/25/20,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20
0,Alabama,386.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,43.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arizona,401.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arkansas,308.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,California,3150.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Colorado,1087.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Connecticut,875.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Delaware,119.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,District of Columbia,231.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Florida,1977.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Georgia,1404.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Guam,37.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Hawaii,95.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Idaho,138.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Illinois,1869.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Indiana,478.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Iowa,146.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Kansas,137.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Kentucky,198.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Louisiana,1795.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Maine,142.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Maryland,426.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Massachusetts,1838.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Michigan,2298.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Minnesota,287.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Mississippi,377.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Missouri,358.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Montana,65.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Nebraska,71.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Nevada,323.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,Bermuda,NaN,United Kingdom,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,2.0,2.0,2.0,2.0,NaN
715,NaN,NaN,Fiji,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,2.0,NaN
716,NaN,NaN,Madagascar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,3.0,3.0,3.0,NaN
717,NaN,NaN,Haiti,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,2.0,NaN
718,NaN,NaN,Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2.0,2.0,2.0,NaN
719,Sint Maarten,NaN,Netherlands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,NaN
720,NaN,NaN,Niger,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,NaN
721,Isle of Man,NaN,United Kingdom,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,5.0,5.0,NaN
722,Northwest Territories,NaN,Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN
723,NaN,NaN,Cape Verde,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,NaN
724,NaN,NaN,East Timor,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,NaN
725,NaN,NaN,Uganda,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN
726,NaN,NaN,Dominica,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN
727,NaN,NaN,Mozambique,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN
728,NaN,NaN,Syria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN
729,NaN,NaN,Timor-Leste,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN
730,NaN,NaN,Guadeloupe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,56.0,NaN
731,NaN,NaN,Reunion,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.0,NaN
732,NaN,NaN,French Guiana,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,NaN
733,NaN,NaN,Mayotte,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,NaN
734,United States Virgin Islands,NaN,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,NaN
735,US,NaN,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
736,NaN,NaN,Greenland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
737,NaN,NaN,Guam,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
738,NaN,NaN,Guernsey,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
739,NaN,NaN,Jersey,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
740,NaN,NaN,Puerto Rico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
741,NaN,NaN,Republic of the Congo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
742,NaN,NaN,The Bahamas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
743,NaN,NaN,The Gambia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [22]:
mergedDF=pd.merge(CSBSCountyCases,mergedDF,how='outer')
mergedDF

,Province/State,3/25/20,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20
0,"New York, NY",20011.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Westchester, NY",4691.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Nassau, NY",3285.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Suffolk, NY",2260.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Rockland, NY",968.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Orange, NY",638.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Dutchess, NY",153.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Albany, NY",152.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"Erie, NY",122.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Monroe, NY",118.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Putnam, NY",84.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Onondaga, NY",81.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"Ulster, NY",65.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"Saratoga, NY",64.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"Schenectady, NY",55.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"Sullivan, NY",39.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Rensselaer, NY",38.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"Tompkins, NY",23.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"Columbia, NY",19.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,"Niagara, NY",12.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Broome, NY",11.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"Oneida, NY",10.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"Clinton, NY",10.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"Ontario, NY",9.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"Steuben, NY",8.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"Wayne, NY",7.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"Madison, NY",7.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"Delaware, NY",5.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,"Herkimer, NY",5.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,"Greene, NY",4.0,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2247,Bermuda,NaN,United Kingdom,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,2.0,2.0,2.0,2.0,NaN
2248,NaN,NaN,Fiji,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,2.0,NaN
2249,NaN,NaN,Madagascar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,3.0,3.0,3.0,NaN
2250,NaN,NaN,Haiti,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,2.0,NaN
2251,NaN,NaN,Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2.0,2.0,2.0,NaN
2252,Sint Maarten,NaN,Netherlands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,NaN
2253,NaN,NaN,Niger,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,NaN
2254,Isle of Man,NaN,United Kingdom,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,5.0,5.0,NaN
2255,Northwest Territories,NaN,Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN
2256,NaN,NaN,Cape Verde,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,NaN
2257,NaN,NaN,East Timor,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,NaN
2258,NaN,NaN,Uganda,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN
2259,NaN,NaN,Dominica,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN
2260,NaN,NaN,Mozambique,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN
2261,NaN,NaN,Syria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN
2262,NaN,NaN,Timor-Leste,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN
2263,NaN,NaN,Guadeloupe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,56.0,NaN
2264,NaN,NaN,Reunion,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.0,NaN
2265,NaN,NaN,French Guiana,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,NaN
2266,NaN,NaN,Mayotte,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,NaN
2267,United States Virgin Islands,NaN,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,NaN
2268,US,NaN,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
2269,NaN,NaN,Greenland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2270,NaN,NaN,Guam,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2271,NaN,NaN,Guernsey,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2272,NaN,NaN,Jersey,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2273,NaN,NaN,Puerto Rico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2274,NaN,NaN,Republic of the Congo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2275,NaN,NaN,The Bahamas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2276,NaN,NaN,The Gambia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [23]:
def columnSort(columns):
    s=sorted(columns)
    timest=s[:-2]
#     print(s)
    dtl=[]
    for t in timest:
        tt=datetime.strptime(t,'%m/%d/%y')
        dtl.append(tt)
    
    dtls=sorted(dtl)    
    return s[-2:]+list(map(lambda x: x.strftime("%-m/%d/%y"),dtls))
    
    
mergedDF=mergedDF.reindex(columnSort(mergedDF.columns), axis=1)

mergedDF["1/22/20"].fillna(0,inplace=True)
mergedDF

,Country/Region,Province/State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20
0,US,"New York, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20011.0
1,US,"Westchester, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4691.0
2,US,"Nassau, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3285.0
3,US,"Suffolk, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2260.0
4,US,"Rockland, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,968.0
5,US,"Orange, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,638.0
6,US,"Dutchess, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,153.0
7,US,"Albany, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152.0
8,US,"Erie, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.0
9,US,"Monroe, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.0
10,US,"Putnam, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0
11,US,"Onondaga, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.0
12,US,"Ulster, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0
13,US,"Saratoga, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0
14,US,"Schenectady, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0
15,US,"Sullivan, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0
16,US,"Rensselaer, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0
17,US,"Tompkins, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0
18,US,"Columbia, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0
19,US,"Niagara, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0
20,US,"Broome, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0
21,US,"Oneida, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
22,US,"Clinton, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
23,US,"Ontario, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
24,US,"Steuben, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
25,US,"Wayne, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
26,US,"Madison, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
27,US,"Delaware, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
28,US,"Herkimer, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
29,US,"Greene, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2247,United Kingdom,Bermuda,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN
2248,Fiji,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,2.0,2.0,NaN,NaN
2249,Madagascar,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,3.0,3.0,3.0,NaN,NaN
2250,Haiti,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,2.0,2.0,2.0,NaN,NaN
2251,Angola,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2.0,2.0,2.0,NaN,NaN
2252,Netherlands,Sint Maarten,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,NaN,NaN
2253,Niger,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,NaN,NaN
2254,United Kingdom,Isle of Man,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,5.0,5.0,NaN,NaN
2255,Canada,Northwest Territories,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN,NaN
2256,Cape Verde,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,NaN,NaN
2257,East Timor,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,NaN,NaN
2258,Uganda,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN,NaN
2259,Dominica,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN
2260,Mozambique,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN
2261,Syria,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN
2262,Timor-Leste,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN
2263,Guadeloupe,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,56.0,NaN,NaN
2264,Reunion,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.0,NaN,NaN
2265,French Guiana,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,NaN,NaN
2266,Mayotte,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,NaN,NaN
2267,US,United States Virgin Islands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,NaN,NaN
2268,US,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN
2269,Greenland,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2270,Guam,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2271,Guernsey,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2272,Jersey,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2273,Puerto Rico,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2274,Republic of the Congo,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2275,The Bahamas,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2276,The Gambia,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [24]:
mergedDF.loc[mergedDF["Province/State"].isnull() & mergedDF["Country/Region"].isin(["China"])]

Empty DataFrame
Columns: [Country/Region, Province/State, 1/22/20, 1/23/20, 1/24/20, 1/25/20, 1/26/20, 1/27/20, 1/28/20, 1/29/20, 1/30/20, 1/31/20, 2/01/20, 2/02/20, 2/03/20, 2/04/20, 2/05/20, 2/06/20, 2/07/20, 2/08/20, 2/09/20, 2/10/20, 2/11/20, 2/12/20, 2/13/20, 2/14/20, 2/15/20, 2/16/20, 2/17/20, 2/18/20, 2/19/20, 2/20/20, 2/21/20, 2/22/20, 2/23/20, 2/24/20, 2/25/20, 2/26/20, 2/27/20, 2/28/20, 2/29/20, 3/01/20, 3/02/20, 3/03/20, 3/04/20, 3/05/20, 3/06/20, 3/07/20, 3/08/20, 3/09/20, 3/10/20, 3/11/20, 3/12/20, 3/13/20, 3/14/20, 3/15/20, 3/16/20, 3/17/20, 3/18/20, 3/19/20, 3/20/20, 3/21/20, 3/22/20, 3/23/20, 3/24/20, 3/25/20]
Index: []

[0 rows x 66 columns]

In [25]:

#find forgotten countries
forgottenCountries=set(mergedDF["Country/Region"])-set(mergedDF[mergedDF['Province/State'].isnull()]["Country/Region"])

In [26]:
forgottenDF=mergedDF.groupby(["Country/Region"]).sum(min_count=1)
forgottenDF=forgottenDF[forgottenDF.index.isin(forgottenCountries)].reset_index()
forgottenDF

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20
0,Australia,0.0,0.0,0.0,0.0,8.0,10.0,10.0,12.0,18.0,...,754.0,904.0,1136.0,1362.0,1582.0,2142.0,2863.0,2996.0,2044.0,2364.0
1,Canada,0.0,0.0,0.0,0.0,2.0,2.0,4.0,4.0,4.0,...,822.0,940.0,1294.0,1580.0,1865.0,2528.0,2904.0,3528.0,2790.0,3251.0
2,China,625.0,773.0,1142.0,1784.0,2680.0,3715.0,6597.0,7517.0,9961.0,...,87761.0,87806.0,87894.0,87999.0,88183.0,88291.0,88506.0,88607.0,81591.0,81661.0
3,Cruise Ship,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,696.0,696.0,712.0,712.0,712.0,712.0,712.0,712.0,NaN,NaN

In [51]:
fixMergedDF=pd.merge(forgottenDF,mergedDF,how='outer')

In [52]:
fixMergedDF=fixMergedDF.reindex(columnSort(fixMergedDF.columns), axis=1)

In [53]:
fixMergedDFWorld=fixMergedDF[fixMergedDF["Province/State"].isnull()].sum(min_count=1)
fixMergedDFWorld["Province/State"]=np.NaN
fixMergedDFWorld["Country/Region"]="World"

In [60]:
fixMergedDF=fixMergedDF.append(fixMergedDFWorld,ignore_index=True)

In [71]:
for i in fixMergedDF.loc[fixMergedDF["Country/Region"].isin(["World"])].iteritems():
    print(i)

('Country/Region', 2280    World
Name: Country/Region, dtype: object)
('Province/State', 2280    NaN
Name: Province/State, dtype: object)
('1/22/20', 2280    638.0
Name: 1/22/20, dtype: float64)
('1/23/20', 2280    793.0
Name: 1/23/20, dtype: float64)
('1/24/20', 2280    1180.0
Name: 1/24/20, dtype: float64)
('1/25/20', 2280    1835.0
Name: 1/25/20, dtype: float64)
('1/26/20', 2280    2758.0
Name: 1/26/20, dtype: float64)
('1/27/20', 2280    3807.0
Name: 1/27/20, dtype: float64)
('1/28/20', 2280    6726.0
Name: 1/28/20, dtype: float64)
('1/29/20', 2280    7665.0
Name: 1/29/20, dtype: float64)
('1/30/20', 2280    10137.0
Name: 1/30/20, dtype: float64)
('1/31/20', 2280    12259.0
Name: 1/31/20, dtype: float64)
('2/01/20', 2280    None
Name: 2/01/20, dtype: object)
('2/02/20', 2280    None
Name: 2/02/20, dtype: object)
('2/03/20', 2280    None
Name: 2/03/20, dtype: object)
('2/04/20', 2280    None
Name: 2/04/20, dtype: object)
('2/05/20', 2280    None
Name: 2/05/20, dtype: object)
('2/06/20', 2280    None
Name: 2/06/20, dtype: object)
('2/07/20', 2280    None
Name: 2/07/20, dtype: object)
('2/08/20', 2280    None
Name: 2/08/20, dtype: object)
('2/09/20', 2280    None
Name: 2/09/20, dtype: object)
('2/10/20', 2280    48453.0
Name: 2/10/20, dtype: float64)
('2/11/20', 2280    50649.0
Name: 2/11/20, dtype: float64)
('2/12/20', 2280    51213.0
Name: 2/12/20, dtype: float64)
('2/13/20', 2280    66492.0
Name: 2/13/20, dtype: float64)
('2/14/20', 2280    73104.0
Name: 2/14/20, dtype: float64)
('2/15/20', 2280    75371.0
Name: 2/15/20, dtype: float64)
('2/16/20', 2280    77660.0
Name: 2/16/20, dtype: float64)
('2/17/20', 2280    79752.0
Name: 2/17/20, dtype: float64)
('2/18/20', 2280    81676.0
Name: 2/18/20, dtype: float64)
('2/19/20', 2280    82219.0
Name: 2/19/20, dtype: float64)
('2/20/20', 2280    82887.0
Name: 2/20/20, dtype: float64)
('2/21/20', 2280    83900.0
Name: 2/21/20, dtype: float64)
('2/22/20', 2280    85976.0
Name: 2/22/20, dtype: float64)
('2/23/20', 2280    86685.0
Name: 2/23/20, dtype: float64)
('2/24/20', 2280    87642.0
Name: 2/24/20, dtype: float64)
('2/25/20', 2280    88828.0
Name: 2/25/20, dtype: float64)
('2/26/20', 2280    90364.0
Name: 2/26/20, dtype: float64)
('2/27/20', 2280    92636.0
Name: 2/27/20, dtype: float64)
('2/28/20', 2280    95017.0
Name: 2/28/20, dtype: float64)
('2/29/20', 2280    98320.0
Name: 2/29/20, dtype: float64)
('3/01/20', 2280    None
Name: 3/01/20, dtype: object)
('3/02/20', 2280    None
Name: 3/02/20, dtype: object)
('3/03/20', 2280    None
Name: 3/03/20, dtype: object)
('3/04/20', 2280    None
Name: 3/04/20, dtype: object)
('3/05/20', 2280    None
Name: 3/05/20, dtype: object)
('3/06/20', 2280    None
Name: 3/06/20, dtype: object)
('3/07/20', 2280    None
Name: 3/07/20, dtype: object)
('3/08/20', 2280    None
Name: 3/08/20, dtype: object)
('3/09/20', 2280    None
Name: 3/09/20, dtype: object)
('3/10/20', 2280    158448.0
Name: 3/10/20, dtype: float64)
('3/11/20', 2280    171752.0
Name: 3/11/20, dtype: float64)
('3/12/20', 2280    176143.0
Name: 3/12/20, dtype: float64)
('3/13/20', 2280    207084.0
Name: 3/13/20, dtype: float64)
('3/14/20', 2280    226962.0
Name: 3/14/20, dtype: float64)
('3/15/20', 2280    248616.0
Name: 3/15/20, dtype: float64)
('3/16/20', 2280    272735.0
Name: 3/16/20, dtype: float64)
('3/17/20', 2280    300188.0
Name: 3/17/20, dtype: float64)
('3/18/20', 2280    331721.0
Name: 3/18/20, dtype: float64)
('3/19/20', 2280    378812.0
Name: 3/19/20, dtype: float64)
('3/20/20', 2280    428555.0
Name: 3/20/20, dtype: float64)
('3/21/20', 2280    483297.0
Name: 3/21/20, dtype: float64)
('3/22/20', 2280    536244.0
Name: 3/22/20, dtype: float64)
('3/23/20', 2280    577638.0
Name: 3/23/20, dtype: float64)
('3/24/20', 2280    417493.0
Name: 3/24/20, dtype: float64)
('3/25/20', 2280    466951.0
Name: 3/25/20, dtype: float64)

In [ ]:
fixMergedDF.loc[fixMergedDF["Province/State"].isin(["California"]) & fixMergedDF["Country/Region"].isin(["US"])]

In [ ]:
import pickle

pickle.dump( fixMergedDF, open( "baseline0325.dat", "wb" ) )

In [ ]:
import math
for index,row in fixMergedDF.iterrows():
    if index==0:
        cleanrow=row.drop(["Country/Region","Province/State"])
#         print(cleanrow)
        for key, value in cleanrow.items():
            print(key, value)
            if math.isnan(value):
                print("ha!")

In [47]:
legacyJHUCases=StringIO(requests.get("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/archived_data/archived_time_series/time_series_19-covid-Confirmed_archived_0325.csv").text)

legacyJHUCasesdf = pd.read_csv(legacyJHUCases, sep=",")


newJHUCases=StringIO(requests.get("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv").text)

newJHUCasesdf = pd.read_csv(newJHUCases, sep=",")

JHUCasesdf=pd.merge(newJHUCasesdf,legacyJHUCasesdf,how="outer").drop(columns=["Lat","Long"])

mergeCasesdDF=pd.merge(CSBSStatesCases,JHUCasesdf,how='outer')

mergeCasesdDF=pd.merge(CSBSCountyCases,mergeCasesdDF,how='outer')

mergeCasesdDF=mergeCasesdDF.reindex(columnSort(mergeCasesdDF.columns), axis=1)

mergeCasesdDF["1/22/20"].fillna(0,inplace=True)

mergeCasesdDF.loc[mergeCasesdDF["Province/State"].isnull() & mergeCasesdDF["Country/Region"].isin(["China"])]

#find forgotten countries
forgottenCountriesCases=set(mergeCasesdDF["Country/Region"])-set(mergeCasesdDF[mergeCasesdDF['Province/State'].isnull()]["Country/Region"])

forgottenCasesDF=mergeCasesdDF.groupby(["Country/Region"]).sum(min_count=1)
forgottenCasesDF=forgottenCasesDF[forgottenCasesDF.index.isin(forgottenCountriesCases)].reset_index()
forgottenCasesDF

fixMergeCasesdDF=pd.merge(forgottenCasesDF,mergeCasesdDF,how='outer')

fixMergeCasesdDF=fixMergeCasesdDF.reindex(columnSort(fixMergeCasesdDF.columns), axis=1)

fixMergedDFCasesWorld=fixMergeCasesdDF[fixMergeCasesdDF["Province/State"].isnull()].sum()
fixMergedDFCasesWorld["Province/State"]=np.NaN
fixMergedDFCasesWorld["Country/Region"]="World"
fixMergeCasesdDF=fixMergeCasesdDF.append(fixMergedDFCasesWorld,ignore_index=True)

In [49]:
fixMergeCasesdDF

,Country/Region,Province/State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20
0,Australia,NaN,0.0,0.0,0.0,0.0,8.0,10.0,10.0,12.0,...,754.0,904.0,1136.0,1362.0,1582.0,2142.0,2863.0,2996.0,2044.0,2364.0
1,Canada,NaN,0.0,0.0,0.0,0.0,2.0,2.0,4.0,4.0,...,822.0,940.0,1294.0,1580.0,1865.0,2528.0,2904.0,3528.0,2790.0,3251.0
2,China,NaN,625.0,773.0,1142.0,1784.0,2680.0,3715.0,6597.0,7517.0,...,87761.0,87806.0,87894.0,87999.0,88183.0,88291.0,88506.0,88607.0,81591.0,81661.0
3,Cruise Ship,Diamond Princess,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,696.0,696.0,712.0,712.0,712.0,712.0,712.0,712.0,NaN,NaN
4,US,"New York, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20011.0
5,US,"Westchester, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4691.0
6,US,"Nassau, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3285.0
7,US,"Suffolk, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2260.0
8,US,"Rockland, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,968.0
9,US,"Orange, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,638.0
10,US,"Dutchess, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,153.0
11,US,"Albany, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152.0
12,US,"Erie, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.0
13,US,"El Paso, CO",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.0
14,US,"Monroe, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.0
15,US,"Putnam, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0
16,US,"Bexar, TX",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0
17,US,"Wake, NC",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0
18,US,"Durham, NC",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0
19,US,"Onondaga, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.0
20,US,"Ulster, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0
21,US,"Ascension, LA",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0
22,US,Montana,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0
23,US,"Saratoga, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0
24,US,"Schenectady, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0
25,US,"Oklahoma, OK",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0
26,US,"Chittenden, VT",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0
27,US,"Sullivan, NY",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0
28,US,"Ventura, CA",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0
29,US,"Osceola, FL",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2251,Fiji,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,2.0,2.0,NaN,NaN
2252,Madagascar,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,3.0,3.0,3.0,NaN,NaN
2253,Haiti,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,2.0,2.0,2.0,NaN,NaN
2254,Angola,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2.0,2.0,2.0,NaN,NaN
2255,Netherlands,Sint Maarten,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,NaN,NaN
2256,Niger,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,NaN,NaN
2257,United Kingdom,Isle of Man,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,5.0,5.0,NaN,NaN
2258,Canada,Northwest Territories,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN,NaN
2259,Cape Verde,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,NaN,NaN
2260,East Timor,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,NaN,NaN
2261,Uganda,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN,NaN
2262,Dominica,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN
2263,Mozambique,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN
2264,Syria,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN
2265,Timor-Leste,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN
2266,Guadeloupe,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,56.0,NaN,NaN
2267,Reunion,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.0,NaN,NaN
2268,French Guiana,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,NaN,NaN
2269,Mayotte,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,NaN,NaN
2270,US,United States Virgin Islands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,NaN,NaN
2271,US,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN
2272,Greenland,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2273,Guam,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2274,Guernsey,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2275,Jersey,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2276,Puerto Rico,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2277,Republic of the Congo,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2278,The Bahamas,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2279,The Gambia,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2280,World,NaN,638.0,793.0,1180.0,1835.0,2758.0,3807.0,6726.0,7665.0,...,272735.0,300188.0,331721.0,378812.0,428555.0,483297.0,536244.0,577638.0,417493.0,466951.0

In [336]:
#### New Data Each Day


JHUDailyst = StringIO(requests.get("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-25-2020.csv").text)

JHUDailyDf = pd.read_csv(JHUDailyst, sep=",").drop(columns=["Lat","Long_","Active","Combined_Key"])

tstr=JHUDailyDf["Last_Update"][0]
print(tstr)

tstr=datetime.strptime(tstr[:-9], '%Y-%m-%d').strftime("%-m/%d/%y")
print(tstr)
JHUDailyDf

2020-03-25 23:33:19
3/25/20

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered
0,45001.0,Abbeville,South Carolina,US,2020-03-25 23:33:19,3,0,0
1,22001.0,Acadia,Louisiana,US,2020-03-25 23:33:19,2,0,0
2,51001.0,Accomack,Virginia,US,2020-03-25 23:33:19,2,0,0
3,16001.0,Ada,Idaho,US,2020-03-25 23:33:19,24,0,0
4,19001.0,Adair,Iowa,US,2020-03-25 23:33:19,1,0,0
5,21001.0,Adair,Kentucky,US,2020-03-25 23:33:19,0,0,0
6,29001.0,Adair,Missouri,US,2020-03-25 23:33:19,1,0,0
7,40001.0,Adair,Oklahoma,US,2020-03-25 23:33:19,2,0,0
8,8001.0,Adams,Colorado,US,2020-03-25 23:33:19,27,0,0
9,16003.0,Adams,Idaho,US,2020-03-25 23:33:19,0,0,0
10,17001.0,Adams,Illinois,US,2020-03-25 23:33:19,1,0,0
11,18001.0,Adams,Indiana,US,2020-03-25 23:33:19,1,0,0
12,19003.0,Adams,Iowa,US,2020-03-25 23:33:19,0,0,0
13,28001.0,Adams,Mississippi,US,2020-03-25 23:33:19,2,0,0
14,31001.0,Adams,Nebraska,US,2020-03-25 23:33:19,1,0,0
15,38001.0,Adams,North Dakota,US,2020-03-25 23:33:19,0,0,0
16,39001.0,Adams,Ohio,US,2020-03-25 23:33:19,0,0,0
17,42001.0,Adams,Pennsylvania,US,2020-03-25 23:33:19,6,0,0
18,53001.0,Adams,Washington,US,2020-03-25 23:33:19,1,0,0
19,55001.0,Adams,Wisconsin,US,2020-03-25 23:33:19,0,0,0
20,50001.0,Addison,Vermont,US,2020-03-25 23:33:19,9,0,0
21,45003.0,Aiken,South Carolina,US,2020-03-25 23:33:19,2,0,0
22,27001.0,Aitkin,Minnesota,US,2020-03-25 23:33:19,0,0,0
23,12001.0,Alachua,Florida,US,2020-03-25 23:33:19,45,0,0
24,37001.0,Alamance,North Carolina,US,2020-03-25 23:33:19,3,0,0
25,6001.0,Alameda,California,US,2020-03-25 23:33:19,135,2,0
26,8003.0,Alamosa,Colorado,US,2020-03-25 23:33:19,0,0,0
27,36001.0,Albany,New York,US,2020-03-25 23:33:19,152,0,0
28,56001.0,Albany,Wyoming,US,2020-03-25 23:33:19,1,0,0
29,51003.0,Albemarle,Virginia,US,2020-03-25 23:33:19,4,0,0
...,...,...,...,...,...,...,...,...
3390,NaN,NaN,NaN,Singapore,2020-03-25 23:33:04,631,2,160
3391,NaN,NaN,NaN,Slovakia,2020-03-25 23:33:04,216,0,7
3392,NaN,NaN,NaN,Slovenia,2020-03-25 23:33:04,528,5,10
3393,NaN,NaN,NaN,Somalia,2020-03-25 23:33:04,1,0,0
3394,NaN,NaN,NaN,South Africa,2020-03-25 23:33:04,709,0,12
3395,NaN,NaN,NaN,Spain,2020-03-25 23:33:04,49515,3647,5367
3396,NaN,NaN,NaN,Sri Lanka,2020-03-25 23:33:04,102,0,3
3397,NaN,NaN,NaN,Sudan,2020-03-25 23:33:04,3,1,0
3398,NaN,NaN,NaN,Suriname,2020-03-25 23:33:04,8,0,0
3399,NaN,NaN,NaN,Sweden,2020-03-25 23:33:04,2526,62,16
3400,NaN,NaN,NaN,Switzerland,2020-03-25 23:33:04,10897,153,131
3401,NaN,NaN,NaN,Syria,2020-03-25 23:33:04,5,0,0
3402,NaN,NaN,NaN,Taiwan*,2020-03-25 08:02:14,235,2,29
3403,NaN,NaN,NaN,Tanzania,2020-03-25 23:33:04,12,0,0
3404,NaN,NaN,NaN,Thailand,2020-03-25 23:33:04,934,4,70
3405,NaN,NaN,NaN,Timor-Leste,2020-03-25 23:33:04,1,0,0
3406,NaN,NaN,NaN,Togo,2020-03-25 23:33:04,23,0,1
3407,NaN,NaN,NaN,Trinidad and Tobago,2020-03-25 23:33:04,60,1,0
3408,NaN,NaN,NaN,Tunisia,2020-03-25 23:33:04,173,5,2
3409,NaN,NaN,NaN,Turkey,2020-03-25 23:33:04,2433,59,26
3410,NaN,NaN,NaN,Uganda,2020-03-25 23:33:04,14,0,0
3411,NaN,NaN,NaN,Ukraine,2020-03-25 23:33:04,145,5,1
3412,NaN,NaN,NaN,United Arab Emirates,2020-03-25 23:33:04,333,2,52
3413,NaN,NaN,NaN,United Kingdom,2020-03-25 23:33:04,9529,465,135
3414,NaN,NaN,NaN,Uruguay,2020-03-25 23:33:04,189,0,0
3415,NaN,NaN,NaN,Uzbekistan,2020-03-25 23:33:04,60,0,0
3416,NaN,NaN,NaN,Venezuela,2020-03-25 23:33:04,91,0,15
3417,NaN,NaN,NaN,Vietnam,2020-03-25 23:33:04,141,0,17
3418,NaN,NaN,NaN,Zambia,2020-03-25 23:33:04,12,0,0
3419,NaN,NaN,NaN,Zimbabwe,2020-03-25 23:33:04,3,1,0

In [339]:
JHUDailyStateDf=JHUDailyDf[JHUDailyDf["Country_Region"].isin(["US"])].groupby(["Province_State"]).sum().reset_index().drop(columns=["FIPS"])
JHUDailyStateDf=JHUDailyStateDf.rename(columns={"Province_State":"Province/State"})
JHUDailyStateDf["Country/Region"]="US"
JHUDailyStateDf

              Province/State  Confirmed  Deaths  Recovered Country/Region
0                    Alabama        381       1          0             US
1                     Alaska         41       1          0             US
2             American Samoa          0       0          0             US
3                    Arizona        401       6          0             US
4                   Arkansas        280       2          0             US
5                 California       2998      65          0             US
6                   Colorado       1021      16          0             US
7                Connecticut        875      19          0             US
8                   Delaware        119       0          0             US
9           Diamond Princess         49       0          0             US
10      District of Columbia        187       2          0             US
11                   Florida       1682      23          0             US
12                   Georgia       1247      40          0             US
13            Grand Princess         28       1          0             US
14                      Guam         37       1          0             US
15                    Hawaii         91       0          0             US
16                     Idaho         91       0          0             US
17                  Illinois       1865      19          0             US
18                   Indiana        477      14          0             US
19                      Iowa        146       1          0             US
20                    Kansas        134       3          0             US
21                  Kentucky        197       5          0             US
22                 Louisiana       1795      65          0             US
23                     Maine        142       0          0             US
24                  Maryland        425       4          0             US
25             Massachusetts       1838      15          0             US
26                  Michigan       2296      43          0             US
27                 Minnesota        286       1          0             US
28               Mississippi        377       3          0             US
29                  Missouri        354       8          0             US
30                   Montana         65       0          0             US
31                  Nebraska         71       0          0             US
32                    Nevada        323       6          0             US
33             New Hampshire        108       1          0             US
34                New Jersey       4402      62          0             US
35                New Mexico        113       1          0             US
36                  New York      30841     285          0             US
37            North Carolina        590       2          0             US
38              North Dakota         45       0          0             US
39  Northern Mariana Islands          0       0          0             US
40                      Ohio        704      11          0             US
41                  Oklahoma        164       5          0             US
42                    Oregon        266      10          0             US
43              Pennsylvania       1260      15          0             US
44               Puerto Rico         51       2          0             US
45                 Recovered          0       0        361             US
46              Rhode Island        132       0          0             US
47            South Carolina        424       7          0             US
48              South Dakota         41       1          0             US
49                 Tennessee        916       3          0             US
50                     Texas       1229      15          0             US
51                      Utah        340       1          0             US
52                   Vermont        125       8          0             US
53            Virgin Islands         17       0          0             US
54                  Virginia        396       9          0             US
55                Washington       2591     133          0             US
56             West Virginia         39       0          0             US
57                 Wisconsin        621       7          0             US
58                   Wyoming         44       0          0             US

In [340]:
JHUDailyDfUS=JHUDailyDf[JHUDailyDf["Country_Region"]=="US"]
JHUDailyDfUS=JHUDailyDfUS.replace({"Province_State":us_state_abbrev})
JHUDailyDfUS["Province_State"]=(JHUDailyDfUS["Admin2"]+", "+JHUDailyDfUS["Province_State"]).fillna("N/A")
JHUDailyDfUS

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered
0,45001.0,Abbeville,"Abbeville, SC",US,2020-03-25 23:33:19,3,0,0
1,22001.0,Acadia,"Acadia, LA",US,2020-03-25 23:33:19,2,0,0
2,51001.0,Accomack,"Accomack, VA",US,2020-03-25 23:33:19,2,0,0
3,16001.0,Ada,"Ada, ID",US,2020-03-25 23:33:19,24,0,0
4,19001.0,Adair,"Adair, IA",US,2020-03-25 23:33:19,1,0,0
5,21001.0,Adair,"Adair, KY",US,2020-03-25 23:33:19,0,0,0
6,29001.0,Adair,"Adair, MO",US,2020-03-25 23:33:19,1,0,0
7,40001.0,Adair,"Adair, OK",US,2020-03-25 23:33:19,2,0,0
8,8001.0,Adams,"Adams, CO",US,2020-03-25 23:33:19,27,0,0
9,16003.0,Adams,"Adams, ID",US,2020-03-25 23:33:19,0,0,0
10,17001.0,Adams,"Adams, IL",US,2020-03-25 23:33:19,1,0,0
11,18001.0,Adams,"Adams, IN",US,2020-03-25 23:33:19,1,0,0
12,19003.0,Adams,"Adams, IA",US,2020-03-25 23:33:19,0,0,0
13,28001.0,Adams,"Adams, MS",US,2020-03-25 23:33:19,2,0,0
14,31001.0,Adams,"Adams, NE",US,2020-03-25 23:33:19,1,0,0
15,38001.0,Adams,"Adams, ND",US,2020-03-25 23:33:19,0,0,0
16,39001.0,Adams,"Adams, OH",US,2020-03-25 23:33:19,0,0,0
17,42001.0,Adams,"Adams, PA",US,2020-03-25 23:33:19,6,0,0
18,53001.0,Adams,"Adams, WA",US,2020-03-25 23:33:19,1,0,0
19,55001.0,Adams,"Adams, WI",US,2020-03-25 23:33:19,0,0,0
20,50001.0,Addison,"Addison, VT",US,2020-03-25 23:33:19,9,0,0
21,45003.0,Aiken,"Aiken, SC",US,2020-03-25 23:33:19,2,0,0
22,27001.0,Aitkin,"Aitkin, MN",US,2020-03-25 23:33:19,0,0,0
23,12001.0,Alachua,"Alachua, FL",US,2020-03-25 23:33:19,45,0,0
24,37001.0,Alamance,"Alamance, NC",US,2020-03-25 23:33:19,3,0,0
25,6001.0,Alameda,"Alameda, CA",US,2020-03-25 23:33:19,135,2,0
26,8003.0,Alamosa,"Alamosa, CO",US,2020-03-25 23:33:19,0,0,0
27,36001.0,Albany,"Albany, NY",US,2020-03-25 23:33:19,152,0,0
28,56001.0,Albany,"Albany, WY",US,2020-03-25 23:33:19,1,0,0
29,51003.0,Albemarle,"Albemarle, VA",US,2020-03-25 23:33:19,4,0,0
...,...,...,...,...,...,...,...,...
3147,46135.0,Yankton,"Yankton, SD",US,2020-03-25 23:33:19,0,0,0
3148,36123.0,Yates,"Yates, NY",US,2020-03-25 23:33:19,0,0,0
3149,4025.0,Yavapai,"Yavapai, AZ",US,2020-03-25 23:33:19,4,0,0
3150,28163.0,Yazoo,"Yazoo, MS",US,2020-03-25 23:33:19,3,0,0
3151,5149.0,Yell,"Yell, AR",US,2020-03-25 23:33:19,0,0,0
3152,27173.0,Yellow Medicine,"Yellow Medicine, MN",US,2020-03-25 23:33:19,0,0,0
3153,30111.0,Yellowstone,"Yellowstone, MT",US,2020-03-25 23:33:19,12,0,0
3154,48501.0,Yoakum,"Yoakum, TX",US,2020-03-25 23:33:19,0,0,0
3155,6113.0,Yolo,"Yolo, CA",US,2020-03-25 23:33:19,10,1,0
3156,23031.0,York,"York, ME",US,2020-03-25 23:33:19,23,0,0
3157,31185.0,York,"York, NE",US,2020-03-25 23:33:19,0,0,0
3158,42133.0,York,"York, PA",US,2020-03-25 23:33:19,20,0,0
3159,45091.0,York,"York, SC",US,2020-03-25 23:33:19,18,0,0
3160,51199.0,York,"York, VA",US,2020-03-25 23:33:19,8,1,0
3161,48503.0,Young,"Young, TX",US,2020-03-25 23:33:19,1,0,0
3162,6115.0,Yuba,"Yuba, CA",US,2020-03-25 23:33:19,0,0,0
3163,2290.0,Yukon-Koyukuk,"Yukon-Koyukuk, AK",US,2020-03-25 23:33:19,0,0,0
3164,4027.0,Yuma,"Yuma, AZ",US,2020-03-25 23:33:19,3,0,0
3165,8125.0,Yuma,"Yuma, CO",US,2020-03-25 23:33:19,1,0,0
3166,48505.0,Zapata,"Zapata, TX",US,2020-03-25 23:33:19,0,0,0
3167,48507.0,Zavala,"Zavala, TX",US,2020-03-25 23:33:19,0,0,0
3168,46137.0,Ziebach,"Ziebach, SD",US,2020-03-25 23:33:19,0,0,0
3170,60000.0,NaN,N/A,US,2020-03-25 23:33:19,0,0,0
3182,88888.0,NaN,N/A,US,2020-03-25 23:33:19,49,0,0
3190,99999.0,NaN,N/A,US,2020-03-25 23:33:19,28,1,0
3193,66000.0,NaN,N/A,US,2020-03-25 23:33:19,37,1,0
3220,69000.0,NaN,N/A,US,2020-03-25 23:33:19,0,0,0
3225,NaN,NaN,N/A,US,2020-03-25 23:33:19,51,2,0
3230,NaN,NaN,N/A,US,2020-03-25 23:33:19,0,0,361
3246,78000.0,NaN,N/A,US,2020-03-25 23:33:19,17,0,0

In [328]:
JHUDailyDfNotUS=JHUDailyDf[JHUDailyDf["Country_Region"]!="US"]

In [329]:
JHUDailyDfTran=pd.concat([JHUDailyDfUS,JHUDailyDfNotUS])
JHUDailyDfTran

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered
0,45001.0,Abbeville,"Abbeville, SC",US,2020-03-25 23:33:19,3,0,0
1,22001.0,Acadia,"Acadia, LA",US,2020-03-25 23:33:19,2,0,0
2,51001.0,Accomack,"Accomack, VA",US,2020-03-25 23:33:19,2,0,0
3,16001.0,Ada,"Ada, ID",US,2020-03-25 23:33:19,24,0,0
4,19001.0,Adair,"Adair, IA",US,2020-03-25 23:33:19,1,0,0
5,21001.0,Adair,"Adair, KY",US,2020-03-25 23:33:19,0,0,0
6,29001.0,Adair,"Adair, MO",US,2020-03-25 23:33:19,1,0,0
7,40001.0,Adair,"Adair, OK",US,2020-03-25 23:33:19,2,0,0
8,8001.0,Adams,"Adams, CO",US,2020-03-25 23:33:19,27,0,0
9,16003.0,Adams,"Adams, ID",US,2020-03-25 23:33:19,0,0,0
10,17001.0,Adams,"Adams, IL",US,2020-03-25 23:33:19,1,0,0
11,18001.0,Adams,"Adams, IN",US,2020-03-25 23:33:19,1,0,0
12,19003.0,Adams,"Adams, IA",US,2020-03-25 23:33:19,0,0,0
13,28001.0,Adams,"Adams, MS",US,2020-03-25 23:33:19,2,0,0
14,31001.0,Adams,"Adams, NE",US,2020-03-25 23:33:19,1,0,0
15,38001.0,Adams,"Adams, ND",US,2020-03-25 23:33:19,0,0,0
16,39001.0,Adams,"Adams, OH",US,2020-03-25 23:33:19,0,0,0
17,42001.0,Adams,"Adams, PA",US,2020-03-25 23:33:19,6,0,0
18,53001.0,Adams,"Adams, WA",US,2020-03-25 23:33:19,1,0,0
19,55001.0,Adams,"Adams, WI",US,2020-03-25 23:33:19,0,0,0
20,50001.0,Addison,"Addison, VT",US,2020-03-25 23:33:19,9,0,0
21,45003.0,Aiken,"Aiken, SC",US,2020-03-25 23:33:19,2,0,0
22,27001.0,Aitkin,"Aitkin, MN",US,2020-03-25 23:33:19,0,0,0
23,12001.0,Alachua,"Alachua, FL",US,2020-03-25 23:33:19,45,0,0
24,37001.0,Alamance,"Alamance, NC",US,2020-03-25 23:33:19,3,0,0
25,6001.0,Alameda,"Alameda, CA",US,2020-03-25 23:33:19,135,2,0
26,8003.0,Alamosa,"Alamosa, CO",US,2020-03-25 23:33:19,0,0,0
27,36001.0,Albany,"Albany, NY",US,2020-03-25 23:33:19,152,0,0
28,56001.0,Albany,"Albany, WY",US,2020-03-25 23:33:19,1,0,0
29,51003.0,Albemarle,"Albemarle, VA",US,2020-03-25 23:33:19,4,0,0
...,...,...,...,...,...,...,...,...
3390,NaN,NaN,NaN,Singapore,2020-03-25 23:33:04,631,2,160
3391,NaN,NaN,NaN,Slovakia,2020-03-25 23:33:04,216,0,7
3392,NaN,NaN,NaN,Slovenia,2020-03-25 23:33:04,528,5,10
3393,NaN,NaN,NaN,Somalia,2020-03-25 23:33:04,1,0,0
3394,NaN,NaN,NaN,South Africa,2020-03-25 23:33:04,709,0,12
3395,NaN,NaN,NaN,Spain,2020-03-25 23:33:04,49515,3647,5367
3396,NaN,NaN,NaN,Sri Lanka,2020-03-25 23:33:04,102,0,3
3397,NaN,NaN,NaN,Sudan,2020-03-25 23:33:04,3,1,0
3398,NaN,NaN,NaN,Suriname,2020-03-25 23:33:04,8,0,0
3399,NaN,NaN,NaN,Sweden,2020-03-25 23:33:04,2526,62,16
3400,NaN,NaN,NaN,Switzerland,2020-03-25 23:33:04,10897,153,131
3401,NaN,NaN,NaN,Syria,2020-03-25 23:33:04,5,0,0
3402,NaN,NaN,NaN,Taiwan*,2020-03-25 08:02:14,235,2,29
3403,NaN,NaN,NaN,Tanzania,2020-03-25 23:33:04,12,0,0
3404,NaN,NaN,NaN,Thailand,2020-03-25 23:33:04,934,4,70
3405,NaN,NaN,NaN,Timor-Leste,2020-03-25 23:33:04,1,0,0
3406,NaN,NaN,NaN,Togo,2020-03-25 23:33:04,23,0,1
3407,NaN,NaN,NaN,Trinidad and Tobago,2020-03-25 23:33:04,60,1,0
3408,NaN,NaN,NaN,Tunisia,2020-03-25 23:33:04,173,5,2
3409,NaN,NaN,NaN,Turkey,2020-03-25 23:33:04,2433,59,26
3410,NaN,NaN,NaN,Uganda,2020-03-25 23:33:04,14,0,0
3411,NaN,NaN,NaN,Ukraine,2020-03-25 23:33:04,145,5,1
3412,NaN,NaN,NaN,United Arab Emirates,2020-03-25 23:33:04,333,2,52
3413,NaN,NaN,NaN,United Kingdom,2020-03-25 23:33:04,9529,465,135
3414,NaN,NaN,NaN,Uruguay,2020-03-25 23:33:04,189,0,0
3415,NaN,NaN,NaN,Uzbekistan,2020-03-25 23:33:04,60,0,0
3416,NaN,NaN,NaN,Venezuela,2020-03-25 23:33:04,91,0,15
3417,NaN,NaN,NaN,Vietnam,2020-03-25 23:33:04,141,0,17
3418,NaN,NaN,NaN,Zambia,2020-03-25 23:33:04,12,0,0
3419,NaN,NaN,NaN,Zimbabwe,2020-03-25 23:33:04,3,1,0

In [330]:

JHUDailyDfTran=JHUDailyDfTran.drop(columns=["Admin2","Last_Update","FIPS"])

JHUDailyDfTran=JHUDailyDfTran.rename(columns={"Province_State":"Province/State","Country_Region":"Country/Region"})

In [333]:
JHUDailyDfTran[JHUDailyDfTran["Province/State"].isnull() & JHUDailyDfTran["Country/Region"].isin(["US"])]

,Province/State,Country/Region,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
3170,NaN,US,-14.2710,-170.1320,0,0,0,0,"American Samoa, US"
3182,NaN,US,0.0000,0.0000,49,0,0,0,"Diamond Princess, US"
3190,NaN,US,0.0000,0.0000,28,1,0,0,"Grand Princess, US"
3193,NaN,US,13.4443,144.7937,37,1,0,0,"Guam, US"
3220,NaN,US,15.0979,145.6739,0,0,0,0,"Northern Mariana Islands, US"
3225,NaN,US,18.2208,-66.5901,51,2,0,0,"Puerto Rico, US"
3230,NaN,US,0.0000,0.0000,0,0,361,0,"Recovered, US"
3246,NaN,US,18.3358,-64.8963,17,0,0,0,"Virgin Islands, US"

In [322]:
forgottenCountries=set(JHUDailyDfTran["Country/Region"])-set(JHUDailyDfTran[JHUDailyDfTran['Province/State'].isnull()]["Country/Region"])
forgottenCountries

{'Australia', 'Canada', 'China'}

In [167]:
forgottenDF=JHUDailyDfTran.groupby(["Country/Region"]).sum(min_count=1)
forgottenDF=forgottenDF[forgottenDF.index.isin(forgottenCountries)].reset_index()
forgottenDF

  Country/Region  Confirmed  Deaths  Recovered
0      Australia       2364       8        119
1         Canada       3251      30        183
2          China      81661    3285      73773

In [168]:
fixMergeDF=pd.merge(forgottenDF,JHUDailyDfTran,how='outer')

In [170]:
tstr

'3/02/20'

In [332]:
url="https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-25-2020.csv"
print(url)
response=requests.get(url)
if response.status_code == 200:
    print("Ya")
    JHUDailyst = StringIO(response.text)

    JHUDailyDf = pd.read_csv(JHUDailyst, sep=",")
    try:
        JHUDailyDf=JHUDailyDf.rename(columns={"Province_State":"Province/State","Country_Region":"Country/Region","Last_Update":"Last Update"})
    except:
        print("no need to translate")

    tstr=JHUDailyDf["Last Update"][0]
    print(tstr)
    tstr=dateutil.parser.parse(tstr).strftime("%-m/%d/%y")

    JHUDailyStateDf=JHUDailyDf[JHUDailyDf["Country/Region"].isin(["US"])].groupby(["Province/State"]).sum().reset_index()
    JHUDailyStateDf=JHUDailyStateDf.rename(columns={"Province_State":"Province/State"})
    JHUDailyStateDf["Country/Region"]="US"
    

    if 'Admin2' in JHUDailyDf:
        print("found conutys")
        JHUDailyDfUS=JHUDailyDf[JHUDailyDf["Country/Region"]=="US"]
        JHUDailyDfUS=JHUDailyDfUS.replace({"Province/State":us_state_abbrev})
        JHUDailyDfUS["Province/State"]=JHUDailyDfUS["Admin2"]+", "+JHUDailyDfUS["Province/State"]
        
        JHUDailyDfNotUS=JHUDailyDf[JHUDailyDf["Country/Region"]!="US"]

        JHUDailyDfTran=pd.concat([JHUDailyDfUS,JHUDailyDfNotUS])
        JHUDailyDfTran=JHUDailyDfTran.drop(columns=["Admin2","Last Update","FIPS"])
    else:
        print("no conutys")
        JHUDailyDfTran=JHUDailyDf

    forgottenCountries=set(JHUDailyDfTran["Country/Region"])-set(JHUDailyDfTran[JHUDailyDfTran['Province/State'].isnull()]["Country/Region"])

    forgottenDF=JHUDailyDfTran.groupby(["Country/Region"]).sum(min_count=1)
    forgottenDF=forgottenDF[forgottenDF.index.isin(forgottenCountries)].reset_index()

    fixMergeDF=pd.merge(forgottenDF,JHUDailyDfTran,how='outer')
    fixMergeWorld=fixMergeDF[fixMergeDF["Province/State"].isnull()].sum()
    fixMergeWorld["Province/State"]=np.NaN
    fixMergeWorld["Country/Region"]="World"
    fixMergeDF=fixMergeDF.append(fixMergeWorld,ignore_index=True)

https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-25-2020.csv
Ya
2020-03-25 23:33:19
found conutys

In [211]:

fixMergeWorld=fixMergeDF[fixMergeDF["Province/State"].isnull()].sum()
fixMergeWorld["Province/State"]=np.NaN
fixMergeWorld["Country/Region"]="World"
fixMergeDF=fixMergeDF.append(fixMergeWorld,ignore_index=True)

In [212]:
fixMergeDF

,Country/Region,Lat,Long_,Confirmed,Deaths,Recovered,Active,Province/State,Combined_Key
0,Australia,-256.850200,1130.843900,2364,8,119,2237,NaN,NaN
1,Canada,509.448000,-859.644600,3251,30,183,0,NaN,NaN
2,China,1083.336700,3684.419700,81661,3285,73773,4603,NaN,NaN
3,US,34.223334,-82.461707,3,0,0,0,"Abbeville, SC","Abbeville, South Carolina, US"
4,US,30.295065,-92.414197,2,0,0,0,"Acadia, LA","Acadia, Louisiana, US"
5,US,37.767072,-75.632346,2,0,0,0,"Accomack, VA","Accomack, Virginia, US"
6,US,43.452658,-116.241552,24,0,0,0,"Ada, ID","Ada, Idaho, US"
7,US,41.330756,-94.471059,1,0,0,0,"Adair, IA","Adair, Iowa, US"
8,US,37.104598,-85.281297,0,0,0,0,"Adair, KY","Adair, Kentucky, US"
9,US,40.190586,-92.600782,1,0,0,0,"Adair, MO","Adair, Missouri, US"
10,US,35.884942,-94.658593,2,0,0,0,"Adair, OK","Adair, Oklahoma, US"
11,US,39.874321,-104.336258,27,0,0,0,"Adams, CO","Adams, Colorado, US"
12,US,44.893336,-116.454525,0,0,0,0,"Adams, ID","Adams, Idaho, US"
13,US,39.988156,-91.187868,1,0,0,0,"Adams, IL","Adams, Illinois, US"
14,US,40.745765,-84.936714,1,0,0,0,"Adams, IN","Adams, Indiana, US"
15,US,41.029036,-94.699326,0,0,0,0,"Adams, IA","Adams, Iowa, US"
16,US,31.476698,-91.353260,2,0,0,0,"Adams, MS","Adams, Mississippi, US"
17,US,40.524494,-98.501178,1,0,0,0,"Adams, NE","Adams, Nebraska, US"
18,US,46.096869,-102.528540,0,0,0,0,"Adams, ND","Adams, North Dakota, US"
19,US,38.845411,-83.471896,0,0,0,0,"Adams, OH","Adams, Ohio, US"
20,US,39.871404,-77.216103,6,0,0,0,"Adams, PA","Adams, Pennsylvania, US"
21,US,46.982998,-118.560173,1,0,0,0,"Adams, WA","Adams, Washington, US"
22,US,43.969747,-89.767828,0,0,0,0,"Adams, WI","Adams, Wisconsin, US"
23,US,44.032173,-73.141309,9,0,0,0,"Addison, VT","Addison, Vermont, US"
24,US,33.543380,-81.636454,2,0,0,0,"Aiken, SC","Aiken, South Carolina, US"
25,US,46.609620,-93.411683,0,0,0,0,"Aitkin, MN","Aitkin, Minnesota, US"
26,US,29.678665,-82.359282,45,0,0,0,"Alachua, FL","Alachua, Florida, US"
27,US,36.043470,-79.399761,3,0,0,0,"Alamance, NC","Alamance, North Carolina, US"
28,US,37.646294,-121.892927,135,2,0,0,"Alameda, CA","Alameda, California, US"
29,US,37.572506,-105.788545,0,0,0,0,"Alamosa, CO","Alamosa, Colorado, US"
...,...,...,...,...,...,...,...,...,...
3394,Slovakia,48.669000,19.699000,216,0,7,209,NaN,Slovakia
3395,Slovenia,46.151200,14.995500,528,5,10,513,NaN,Slovenia
3396,Somalia,5.152149,46.199616,1,0,0,1,NaN,Somalia
3397,South Africa,-30.559500,22.937500,709,0,12,697,NaN,South Africa
3398,Spain,40.463667,-3.749220,49515,3647,5367,40501,NaN,Spain
3399,Sri Lanka,7.873054,80.771797,102,0,3,99,NaN,Sri Lanka
3400,Sudan,12.862800,30.217600,3,1,0,2,NaN,Sudan
3401,Suriname,3.919300,-56.027800,8,0,0,8,NaN,Suriname
3402,Sweden,60.128161,18.643501,2526,62,16,2448,NaN,Sweden
3403,Switzerland,46.818200,8.227500,10897,153,131,10613,NaN,Switzerland
3404,Syria,34.802075,38.996815,5,0,0,5,NaN,Syria
3405,Taiwan*,23.700000,121.000000,235,2,29,204,NaN,Taiwan*
3406,Tanzania,-6.369028,34.888822,12,0,0,12,NaN,Tanzania
3407,Thailand,15.870032,100.992541,934,4,70,860,NaN,Thailand
3408,Timor-Leste,-8.874217,125.727539,1,0,0,1,NaN,Timor-Leste
3409,Togo,8.619500,0.824800,23,0,1,22,NaN,Togo
3410,Trinidad and Tobago,10.691800,-61.222500,60,1,0,59,NaN,Trinidad and Tobago
3411,Tunisia,33.886917,9.537499,173,5,2,166,NaN,Tunisia
3412,Turkey,38.963700,35.243300,2433,59,26,2348,NaN,Turkey
3413,Uganda,1.373333,32.290275,14,0,0,14,NaN,Uganda
3414,Ukraine,48.379400,31.165600,145,5,1,139,NaN,Ukraine
3415,United Arab Emirates,23.424076,53.847818,333,2,52,279,NaN,United Arab Emirates
3416,United Kingdom,55.378100,-3.436000,9529,465,135,8929,NaN,United Kingdom
3417,Uruguay,-32.522800,-55.765800,189,0,0,189,NaN,Uruguay
3418,Uzbekistan,41.377491,64.585262,60,0,0,60,NaN,Uzbekistan
3419,Venezuela,6.423800,-66.589700,91,0,15,76,NaN,Venezuela
3420,Vietnam,14.058324,108.277199,141,0,17,124,NaN,Vietnam
3421,Zambia,-13.133897,27.849332,12,0,0,12,NaN,Zambia
3422,Zimbabwe,-19.015438,29.154857,3,1,0,2,NaN,Zimbabwe
3423,World,4923.081392,6705.629863,401356,20239,113717,264545,NaN,NaN

In [247]:
dat=[{'id': -1, 'country': 'US', 'province': 'nan'},{'id': 0, 'country': 'US', 'province': 'New York'},{'id': 1, 'country': 'Australia', 'province': 'nan'}, {'id': 2, 'country': 'Canada', 'province': 'nan'}, {'id': 3, 'country': 'China', 'province': 'nan'}, {'id': 4, 'country': 'Cruise Ship', 'province': 'Diamond Princess'}, {'id': 5, 'country': 'US', 'province': 'New York, NY'}, {'id': 6, 'country': 'US', 'province': 'Westchester, NY'}, {'id': 7, 'country': 'US', 'province': 'Nassau, NY'}, {'id': 8, 'country': 'US', 'province': 'Suffolk, NY'}, {'id': 9, 'country': 'US', 'province': 'Rockland, NY'}, {'id': 10, 'country': 'US', 'province': 'Orange, NY'}, {'id': 11, 'country': 'US', 'province': 'Dutchess, NY'}, {'id': 12, 'country': 'US', 'province': 'Albany, NY'}, {'id': 13, 'country': 'US', 'province': 'Orange, CA'}, {'id': 14, 'country': 'US', 'province': 'Erie, NY'}, {'id': 15, 'country': 'US', 'province': 'Monroe, NY'}, {'id': 16, 'country': 'US', 'province': 'Palm Beach, FL'}, {'id': 17, 'country': 'US', 'province': 'Putnam, NY'}, {'id': 18, 'country': 'US', 'province': 'Ulster, NY'}, {'id': 19, 'country': 'US', 'province': 'Onondaga, NY'}, {'id': 20, 'country': 'US', 'province': 'Ascension, LA'}]

In [299]:
df=pd.DataFrame(dat)
countryList=df[df["province"].isin(["nan"])]
countyList=df[df["province"].str.contains(",")]
provinceList=df[~df["province"].str.contains(",") & ~df["province"].isin(["nan"])]

In [300]:
countyList[["county","province"]]=countyList["province"].str.split(",",expand=True)
countyList["province"]=countyList["province"].str.strip()
us_state_abbrev_rev = {value:key for key, value in us_state_abbrev.items()}
countyList.replace({"province":us_state_abbrev_rev})

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   country  id    province       county
6       US   5    New York     New York
7       US   6    New York  Westchester
8       US   7    New York       Nassau
9       US   8    New York      Suffolk
10      US   9    New York     Rockland
11      US  10    New York       Orange
12      US  11    New York     Dutchess
13      US  12    New York       Albany
14      US  13  California       Orange
15      US  14    New York         Erie
16      US  15    New York       Monroe
17      US  16     Florida   Palm Beach
18      US  17    New York       Putnam
19      US  18    New York       Ulster
20      US  19    New York     Onondaga
21      US  20   Louisiana    Ascension

   country  id    province       county
6       US   5    New York     New York
7       US   6    New York  Westchester
8       US   7    New York       Nassau
9       US   8    New York      Suffolk
10      US   9    New York     Rockland
11      US  10    New York       Orange
12      US  11    New York     Dutchess
13      US  12    New York       Albany
14      US  13  California       Orange
15      US  14    New York         Erie
16      US  15    New York       Monroe
17      US  16     Florida   Palm Beach
18      US  17    New York       Putnam
19      US  18    New York       Ulster
20      US  19    New York     Onondaga
21      US  20   Louisiana    Ascension

In [293]:
us_state_abbrev_rev

{'AL': 'Alabama',
 'AK': 'Alaska',
 'AS': 'American Samoa',
 'AZ': 'Arizona',
 'AR': 'Arkansas',
 'CA': 'California',
 'CO': 'Colorado',
 'CT': 'Connecticut',
 'DE': 'Delaware',
 'DC': 'District of Columbia',
 'FL': 'Florida',
 'GA': 'Georgia',
 'GU': 'Guam',
 'HI': 'Hawaii',
 'ID': 'Idaho',
 'IL': 'Illinois',
 'IN': 'Indiana',
 'IA': 'Iowa',
 'KS': 'Kansas',
 'KY': 'Kentucky',
 'LA': 'Louisiana',
 'ME': 'Maine',
 'MD': 'Maryland',
 'MA': 'Massachusetts',
 'MI': 'Michigan',
 'MN': 'Minnesota',
 'MS': 'Mississippi',
 'MO': 'Missouri',
 'MT': 'Montana',
 'NE': 'Nebraska',
 'NV': 'Nevada',
 'NH': 'New Hampshire',
 'NJ': 'New Jersey',
 'NM': 'New Mexico',
 'NY': 'New York',
 'NC': 'North Carolina',
 'ND': 'North Dakota',
 'MP': 'Northern Mariana Islands',
 'OH': 'Ohio',
 'OK': 'Oklahoma',
 'OR': 'Oregon',
 'PA': 'Pennsylvania',
 'PR': 'Puerto Rico',
 'RI': 'Rhode Island',
 'SC': 'South Carolina',
 'SD': 'South Dakota',
 'TN': 'Tennessee',
 'TX': 'Texas',
 'UT': 'Utah',
 'VT': 'Vermont',
 'VI': 'US Virgin Islands',
 'VA': 'Virginia',
 'WA': 'Washington',
 'WV': 'West Virginia',
 'WI': 'Wisconsin',
 'WY': 'Wyoming'}

In [351]:
outObj={}
for country, df_region in df.groupby("country"):
    countryList=df_region[df_region["province"].isin(["nan"])]
    # print("haha",country)
    if len(countryList["id"].values)>0:
        countryID=countryList["id"].values[0]

        provinceList=df_region[~df_region["province"].str.contains(",") & ~df_region["province"].isin(["nan"])]

        provinceDict={}
        for index,province in provinceList.iterrows():
#                 casesList=list(locationData.objects.filter(locationID=province["id"],type=0).values())
#                 try:
#                     latest_confirmed=casesList[-1]["count"]
#                 except:
#                     print(countryID,country,casesList)
                latest_confirmed=0
                provinceDict[province["province"]]={"id":int(province["id"]),"cities":{},"cases":latest_confirmed}
        if country == "US":
            countyList=df_region[df_region["province"].str.contains(",")]
            countyList[["county","province"]]=countyList["province"].str.split(",",expand=True)
            countyList["province"]=countyList["province"].str.strip()
            us_state_abbrev_rev = {value:key for key, value in us_state_abbrev.items()}
            countyList.replace({"province":us_state_abbrev_rev})
        
            for state, df_state in countyList.groupby("province"):
                countyDict={}
                for index,county in df_state.iterrows():
                    countyDict[county["county"]]=int(county["id"])
                # print(countyDict)
                provinceDict[province["province"]]["cities"]=countyDict
        # print(country,countryID)
#         casesList=list(locationData.objects.filter(locationID=countryID,type=0).values())
#         try:
#             latest_confirmed=casesList[-1]["count"]
#         except:
#             print(countryID,country,casesList)
        latest_confirmed=0
        outObj[country]={"id":int(countryID),"provinces":provinceDict,"cases":latest_confirmed}

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [352]:
outObj["US"]["provinces"]["New York"]["cities"]

{'New York': 5,
 'Westchester': 6,
 'Nassau': 7,
 'Suffolk': 8,
 'Rockland': 9,
 'Orange': 10,
 'Dutchess': 11,
 'Albany': 12,
 'Erie': 14,
 'Monroe': 15,
 'Putnam': 17,
 'Ulster': 18,
 'Onondaga': 19}

In [318]:
provinceDict

{'New York': {'id': 0}}